.card {
	margin: 0.5em auto; /* Added */
	float: none; /* Added */
	margin-bottom: 5px; /* Added */
}

.background-image {
	/* Location of the image */
	background-image: url(edificios-2.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	display: block;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	background-color: #464646;
}

.content {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9999;
	margin-left: 2em;
	margin-right: 2em;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* linear loading */
.bar-container{
	position: relative;
	height: 5px;
	width: 100%;
	background-color: #bdbdbd;
}

.bar{
	content: "";
	display: inline;
	position: absolute;
	height: 100%;
	width: 0;
	right: 0;
}

.bar:nth-child(1) {
  background-color: #006495;
  animation: linear_loader 3s linear 1s infinite;
}

.bar:nth-child(2) {
  background-color: #F2635F;
  animation: linear_loader 3s linear 2s infinite;
}

.bar:nth-child(3) {
  background-color: #F4D00C;
  animation: linear_loader 3s linear 3s infinite;
}

@keyframes linear_loader {
    0% {
    	right: 100%; 
    	width: 10%;
    }
    30% {
    	right: 0%; 
    	width: 40%;
    }
    50% {
    	right: 0%; 
    	width: 0%;
    }
    80% {
    	right: 0%; 
    	width: 0%;
    }
    100% {
    	right: 0%; 
    	width: 0%;
    }
}
/* end linear loading */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}